[Unit]
Description=defa

[Service]
Type=simple
ExecStart=/opt/thingsplex/defa/defa
User=defa
WorkingDirectory=/opt/thingsplex/defa
Restart=always
StandardOutput=null
StandardError=null

[Install]
WantedBy=multi-user.target